@using  SprinklerNetCore.Resources
@model IEnumerable<SprinklerNetCore.Models.SprinklerProgram>

<h4>@ViewData["Title"]</h4>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateTimeStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTimeStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>@Text.HistoryNoData</p>
}
