@model SprinklerNetCore.Models.SprinklerProgram
@using  SprinklerNetCore.Resources

<h4>@ViewData["Title"]</h4>

<h3>@Text.DeleteConfirmation</h3>
<div>
    <h4>SprinklerProgram</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="submit" value="@Text.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Text.IndexBackToList</a>
    </form>
</div>
